<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{form}">
    
<section class="section-padding" id="booking">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-12 mx-auto">
            <div class="booking-form">
                <h2 class="text-center mb-lg-3 mb-2">{form.label}</h2>
                <formvh:form
                object="{form}"
                action="{form.renderingOptions.controllerAction}"
                method="{form.renderingOptions.httpMethod}"
                id="{form.identifier}"
                section="{form.identifier}"
                enctype="{form.renderingOptions.httpEnctype}"
                addQueryString="{form.renderingOptions.addQueryString}"
                argumentsToBeExcludedFromQueryString="{form.renderingOptions.argumentsToBeExcludedFromQueryString}"
                additionalParams="{form.renderingOptions.additionalParams}"
                additionalAttributes="{formvh:translateElementProperty(element: form, property: 'fluidAdditionalAttributes')}"
                >
                    <div class="row">
                        <f:render partial="{form.currentPage.templateName}" arguments="{page: form.currentPage}" />
                        <div class="col-lg-3 col-md-4 col-6 mx-auto">
                            <f:form.button property="__currentPage" value="{form.pages -> f:count()}" id="submit-button" class="form-control">
                                {formvh:translateElementProperty(element: form, renderingOptionProperty: 'submitButtonLabel')}
                            </f:form.button>
                        </div>
                    </div>
                </formvh:form>
            </div>
        </div>
    </div>
</div>
</section>
</formvh:renderRenderable>
</html>