<f:asset.css identifier="inline-styles">
    .social-icon li {list-style: none;display: inline-block;vertical-align: top;padding: 10px;filter: grayscale(100%);}
</f:asset.css>

<f:if condition="{data.header}">
    <div>
        <h5 class="mb-lg-4 mb-3">{data.header}</h5>
        <f:if condition="{data.tx_mask_smrpt}">
            <ul class="social-icon ">
                <f:for each="{data.tx_mask_smrpt}" as="data_item">
                    <f:for each="{data_item.tx_mask_footer3_icon}" as="file">
                        <li>
                            <f:image image="{file}" class="social-icon-link" width="18" height="27" />
                        </li>
                    </f:for>
                </f:for>
            </ul>
        </f:if>
    </div>
</f:if> 